<html lang="es">

<head>
    <title>Perfil: FaceBluff</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/style-profile.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
    <div class="header">
        <img id="app-image" src="/img/logo.png" alt="FaceBluff-logo">
        <div class="options-user">
            <a href="/profile/<%=loguedUser.email%>"> Perfil</a>
            <a href="/friends"> Amigos </a>
            <a href="/questions"> Preguntas </a>
            <a href="/desconectar"> Desconectar </a>
            <span> <%= loguedUser.puntos %> puntos</span>
        </div>
    </div>
    <div class="body-content">
        <% if (loguedUser.email == user.email){%>
            <!--Aqui hay que mirar las cookies, si estas logeado es esto-->
            <div class="section-message">Tu perfil</div>
        <%} else{%>
            <div class="section-message">Perfil de <%= user.nombre %></div>
        <% };%>
                

        <div class="profile_info">
            <img class="profile_image" src="/icons/Devil-01.png" alt="Profile_image">
            <ul class="profile_data">
                <li class="profile_name"><%= user.nombre %></li>
                <li> <%= user.edad %> años</li>
                <% if (user.sexo === 'H') { %>
                    <li>Hombre</li>
                <% } else if (user.sexo === 'M') { %>
                    <li>Mujer</li>
                <% } else { %>
                    <li>Desconocido</li>
                <% } %>
                <li><%= user.puntos %> puntos</li>
            </ul>
        </div>
        <% if(loguedUser.email == user.email) {%>
            <!--Si la vista del perfil es la del usuario logueado-->
            <div class="modify_profile">
                <form action="modificar_perfil" method="get">
                    <input class="profile_buttons submit" type="submit" value="Modificar perfil"/>                        
                </form>
            </div>
        <% } %>
    </div>
</body>

</html>