<html lang="es">

<head>
    <title>Amigos: FaceBluff</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/css/style-friends.css" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
    <div class="header">
        <img id="app-image" src="/img/logo.png" alt="FaceBluff-logo">
        <div class="options-user">
            <a href="/profile/user/<%=loguedUser.email%>"> Perfil</a>
            <a href="/friends"> Amigos </a>
            <a href="/questions"> Preguntas </a>
            <a href="/desconectar"> Desconectar </a>
            <span> <%= loguedUser.puntos %> puntos</span>
        </div>
    </div>
    <div class="body-content">
        <div class="section-message">Solicitudes de amistad</div>
        <div class="generic_table">
            <table>
                <% if (requests.length === 0) { %>
                    <span> No tienes nuevas solicitudes de amistad </span>
                    <% } else { 
                    requests.forEach(request => {%>
                        <tr>
                            <td><img class="friend_image" src="/icons/Devil-01.png" alt="Friend_image"></td>
                            <td>
                                <a class="friend_name name" href="/profile/user/<%=request.email%>">
                                    <%= request.nombre %>
                                </a>
                            </td>
                            <form action="/friends/resolver" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="email" value="<%= request.email %>">
                                <input type="hidden" name="aceptada" value="1">
                                <td><input class="profile_buttons" type="submit" value="Aceptar"></td>
                            </form>
                            <form action="/friends/resolver" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="email" value="<%= request.email %>">
                                <input type="hidden" name="aceptada" value="0">
                                <td><input class="profile_buttons" type="submit" value="Rechazar"></td>
                            </form>
                        </tr>
                        <% }); } %>
            </table>
        </div>
        <div class="section-message">Búsqueda de amigos</div>

        <form action="/friends/buscar" method="get" class="friend_search_form">
            <label for="text">Búsqueda por nombre:</label>
            <input type="text" name="text" />
            <input class="submit" type="submit" value="Buscar" />
        </form>

        <div class="section-message">Mis amigos</div>
        <div class="generic_table">
            <table>
                <% if (friends.length === 0) { %>
                    <span> No tienes amigos :/ </span>
                    <% } else {
                friends.forEach(friend => { %>
                        <tr>
                            <td><img class="friend_image" src="/icons/Minion Pig-01.png" alt="Friend_image"></td>
                            <td>
                                <a class="friend_name name" href="/profile/user/<%=friend.email%>">
                                    <%= friend.nombre %>
                                </a>
                            </td>
                        </tr>
                        <% }); } %>
            </table>
        </div>
    </div>
</body>

</html>