<html lang="es">

<head>
    <title>Perfil: FaceBluff</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/style-profile.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
    <div class="header">
        <img id="app-image" src="img/logo.png" alt="FaceBluff-logo">
        <div class="options-user">
            <a href="profile.html"> Perfil</a>
            <a href="friends.html"> Amigos </a>
            <a href="#"> Preguntas </a>
            <a href="index.html"> Desconectar </a>
            <!--Dinamico-->
            <span> <%= user.puntos %> puntos</span>
            <!--Acaba dinamico-->
        </div>
    </div>
    <div class="body-content">
        <!--Dinamico (aqui puede poner tu perfil o perfil de nosequien, dependiendo si es la vista del usuario logueado o de otro usuario-->
        <div class="section-message">Tu perfil</div>
        <!--Acaba dinamico-->
        <div class="profile_info">
            <!--Dinamico-->
            <img class="profile_image" src="icons/Devil-01.png" alt="Profile_image">
            <ul class="profile_data">
                <li class="profile_name">
                    Nombre:
                    <%= user.nombre %>
                </li>
                <!-- En teoria aqui va la edad, pero no esta en la info. Ya lo pondremos <li>
                    Edad: <%= user.edad %>> </li> -->
                <% if (user.sexo === 'H') { %>
                    <li>Sexo: Hombre</li>
                    <% } else if (user.sexo === 'M') { %>
                        <li>Sexo: Mujer</li>
                        <% } else { %>
                            <li>Sexo: Desconocido</li>
                            <% } %>
                                <li>
                                    Nacimiento:
                                    <%= user.fecha_nacimiento %>
                                </li>
                                <li>
                                    Puntos:
                                    <%= user.puntos %>
                                </li>
            </ul>
            <!--Acaba dinamico-->
        </div>
        <!--Dinamico: Esto solo aparecera si la vista del perfil es la del usuario logueado (ya que no puedes modificar el perfil de otros)-->
        <div class="modify_profile">
            <button class="profile_buttons" onclick="location='#'">Modificar perfil</button>
        </div>
        <!--Acaba dinamico-->
    </div>
</body>

</html>